#juego {
  width: 600px;
  height: 600px;
  margin: 0;
}
.pieza {
  width: 33.333%;
  height: 33.333%;
  float: left;
}
.pieza img{
  border: solid 1px #007D75;
  width: 100%;
}
#titulo h1 {
  font-family: 'Playfair Display', serif;
  background-color: rgba(71, 193, 178, 0.87);
  color: #fff;
  width: 102%;
  padding-left: 6%;
}
#instrucciones h1 {
  font-size: 20px;
  color: #E84A5F;
}
form, #instrucciones ul li {
  font-weight: 300;
}
#contadorMovimientos {
  text-transform: uppercase;
  font-size: 20px;
  width: 90%;
}
span#contadorDeMovimientos {
    right: 30px;
    font-size: 50px;
    bottom: -5px;
}
.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: rgb(35, 111, 226);
  padding: 30px;
  color: #fff;
}

.col-60{
  background-color:rgba(56, 118, 223, 0.72);
}
#footer {
  padding: 10px 0;
  background-color: #2A363B;
  background-color: rgba(29, 63, 120, 0.84);
  color: #fff;
  text-align: center;
}
/*Es para la id de mensajes-ocultos*/
.resultado {
  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  left: 0;
  letter-spacing: 2px;
  position: fixed;
  right: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  top: 0;
}
#mensajes-ocultos  {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  margin: 0;
  display: none;
}
input {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 20px;
  color: #92beee;
  font-family: 'Oswald', sans-serif;
  -webkit-appearance: none;
}
input[type="radio"] {
  background: #133d6a;
  border: 1px solid #92beee;
      width: 15px;
    height: 15px;
    vertical-align: bottom;
}

input[type="radio"]:checked{
  border: 1px solid #FFF;
  background: #92beee;
}

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/fondo1.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

#juego div {

  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
input[type="number"] {
   width:50px;
}

.button{
    background-color: #3c4b9c;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 70px;
}
